.article_title {
    margin: 25px 0px 2px 0px;
}

.table_top_series {
    display: flex;
    justify-content: center;
}

table {
    border: 2px solid white ;
    border-collapse: collapse;
    width: 90vw;
}
td {
    padding: 5px;
    border: 1px solid white;
}

.thumb{
    text-align: center;
    height: 40vh;
}
.thumb > img {
    margin-top: 2px;
    display: inline-block;
    max-width: 170px;
    height: 40vh;
}
footer {
    margin-top: 10px;
    display: flex; 
    justify-content: space-around;
    font-style: italic;
}